<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{days}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-topimage></app-topimage>

  <div class="slidesdiv">
    <ion-slides>

      <ion-slide>
        <ion-card>

          <ion-card-header>
            <img src="assets/imgs/Domain_Cecilia_Garden.png">

            <ion-card-subtitle>Domain of Forgery</ion-card-subtitle>
            <ion-card-title>Cecilia Garden</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="weaponclass" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/weaponimgs/DecarabianWeps.png">
            </div>
            <div class="weaponclass" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/weaponimgs/BorealWeps.png">
            </div>

            <div class="weaponclass" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/weaponimgs/GladiatorWeps.png">

            </div>

            <div class="weaponclass" *ngIf="days=='Sunday'">
              <img src="assets/weaponimgs/DecarabianWeps.png">
              <img src="assets/weaponimgs/BorealWeps.png">
              <img src="assets/weaponimgs/GladiatorWeps.png">
            </div>
            <div class="resin">
              <p>Each domain run costs 20</p>
              <img src="assets/imgs/fragileresin.png" id="resinimage">
            </div>
            <div class="material" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/weaponimgs/Decarabian.png">
            </div>
            <div class="material" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/weaponimgs/Boreal.png">
            </div>
            <div class="material" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/weaponimgs/Gladiator.png">
            </div>
            <div class="material" *ngIf="days=='Sunday'">
              <img src="assets/weaponimgs/Decarabian.png">
              <img src="assets/weaponimgs/Boreal.png">
              <img src="assets/weaponimgs/Gladiator.png">
            </div>
          </ion-card-content>

        </ion-card>

      </ion-slide>

      <ion-slide>


        <ion-card>
          <ion-card-header>
            <img src="assets/imgs/Domain_Hidden_Palace_of_Lianshan_Formula.png">

            <ion-card-subtitle>Domain of Forgery</ion-card-subtitle>
            <ion-card-title>Hidden Palace of Lianshin Formula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="weaponclass" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/weaponimgs/GuyunWeps.png">
            </div>
            <div class="weaponclass" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/weaponimgs/ElixirWeps.png">
            </div>

            <div class="weaponclass" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/weaponimgs/AeroWeps.png">

            </div>

            <div class="weaponclass" *ngIf="days=='Sunday'">
              <img src="assets/weaponimgs/GuyunWeps.png">
              <img src="assets/weaponimgs/ElixirWeps.png">
              <img src="assets/weaponimgs/AeroWeps.png">
            </div>
            <div class="resin">
              <p>Each domain run costs 20</p>
              <img src="assets/imgs/fragileresin.png" id="resinimage">
            </div>
            <div class="material" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/weaponimgs/Guyun.png">
            </div>
            <div class="material" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/weaponimgs/Elixir.png">
            </div>
            <div class="material" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/weaponimgs/Aero.png">
            </div>
            <div class="material" *ngIf="days=='Sunday'">
              <img src="assets/weaponimgs/Guyun.png">
              <img src="assets/weaponimgs/Elixir.png">
              <img src="assets/weaponimgs/Aero.png">
            </div>
          </ion-card-content>
        </ion-card>

      </ion-slide>

      <ion-slide>
        <ion-card>

          <ion-card-header>
            <img src="assets/imgs/Domain_Court_of_Flowing_Sand.png">

            <ion-card-subtitle>Domain of Forgery</ion-card-subtitle>
            <ion-card-title>Court of FLowing Sand</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="weaponclass" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/weaponimgs/DistantSeaWeps.png">
            </div>
            <div class="weaponclass" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/weaponimgs/NarukamiWeps.png">
            </div>

            <div class="weaponclass" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/weaponimgs/MaskWeps.png">

            </div>

            <div class="weaponclass" *ngIf="days=='Sunday'">
              <img src="assets/weaponimgs/DistantSeaWeps.png">
              <img src="assets/weaponimgs/NarukamiWeps.png">
              <img src="assets/weaponimgs/MaskWeps.png">
            </div>
            <div class="resin">
              <p>Each domain run costs 20</p>
              <img src="assets/imgs/fragileresin.png" id="resinimage">
            </div>
            <div class="material" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/weaponimgs/DistantSea.png">
            </div>
            <div class="material" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/weaponimgs/Narukami.png">
            </div>
            <div class="material" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/weaponimgs/Mask.png">
            </div>
            <div class="material" *ngIf="days=='Sunday'">
              <img src="assets/weaponimgs/DistantSea.png">
              <img src="assets/weaponimgs/Narukami.png">
              <img src="assets/weaponimgs/Mask.png">
            </div>
          </ion-card-content>

        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>