<ion-header>
  <ion-toolbar>
    <ion-title>Farmable Today</ion-title>
    <ion-icon name='close-outline' color="default" (click)='dismiss()' style='float: right;'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="days=='monday'||days=='thursday'">
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Klee.png">
        </ion-avatar>
        <ion-label>
          Klee
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Aloy.png">
        </ion-avatar>
        <ion-label>
          Aloy
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Amber.png">
        </ion-avatar>
        <ion-label>
          Amber
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Barbara.png">
        </ion-avatar>
        <ion-label>
          Barbara
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Tartaglia.png">
        </ion-avatar>
        <ion-label>
          Tartaglia
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Diona.png">
        </ion-avatar>
        <ion-label>
          Diona
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Sucrose.png">
        </ion-avatar>
        <ion-label>
          Sucrose
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Keqing.png">
        </ion-avatar>
        <ion-label>
          Keqing
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Ninguang.png">
        </ion-avatar>
        <ion-label>
          Ninguang
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xiao.png">
        </ion-avatar>
        <ion-label>
          Xiao
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Qiqi.png">
        </ion-avatar>
        <ion-label>
          Qiqi
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Kokomi.png">
        </ion-avatar>
        <ion-label>
          Kokomi
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Yoimiya.png">
        </ion-avatar>
        <ion-label>
          Yoimiya
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Thoma.png">
        </ion-avatar>
        <ion-label>
          Thoma
        </ion-label>
      </ion-item>

    </div>


    <div *ngIf="days=='tuesday'||days=='friday'">

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Benett.png">
        </ion-avatar>
        <ion-label>
          Benett
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Diluc.png">
        </ion-avatar>
        <ion-label>
          Diluc
        </ion-label>
      </ion-item>



      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Eula.png">
        </ion-avatar>
        <ion-label>
          Eula
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Jean.png">
        </ion-avatar>
        <ion-label>
          Jean
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Mona.png">
        </ion-avatar>
        <ion-label>
          Mona
        </ion-label>
      </ion-item>



      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Noelle.png">
        </ion-avatar>
        <ion-label>
          Noelle
        </ion-label>
      </ion-item>



      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Kazuha.png">
        </ion-avatar>
        <ion-label>
          Kazuha
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Ganyu.png">
        </ion-avatar>
        <ion-label>
          Ganyu
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Hutao.png">
        </ion-avatar>
        <ion-label>
          Hu Tao
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Ayaka.png">
        </ion-avatar>
        <ion-label>
          Ayaka
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Sara.png">
        </ion-avatar>
        <ion-label>
          Kujou Sara
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Chongyun.png">
        </ion-avatar>
        <ion-label>
          Chongyun
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xianling.png">
        </ion-avatar>
        <ion-label>
          Xianling
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Razor.png">
        </ion-avatar>
        <ion-label>
          Razor
        </ion-label>
      </ion-item>


    </div>

    <div *ngIf="days=='wednesday'||days=='saturday'">

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Zhongli.png">
        </ion-avatar>
        <ion-label>
          Zhongli
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Beidou.png">
        </ion-avatar>
        <ion-label>
          Beidou
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xingqiu.png">
        </ion-avatar>
        <ion-label>
          Xingqiu
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xinyan.png">
        </ion-avatar>
        <ion-label>
          Xinyan
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Yanfei.png">
        </ion-avatar>
        <ion-label>
          Yanfei
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/RaidenShogun.png">
        </ion-avatar>
        <ion-label>
          Raiden Shogun
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Sayu.png">
        </ion-avatar>
        <ion-label>
          Sayu
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="days=='sunday'">
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Klee.png">
        </ion-avatar>
        <ion-label>
          Klee
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Aloy.png">
        </ion-avatar>
        <ion-label>
          Aloy
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Amber.png">
        </ion-avatar>
        <ion-label>
          Amber
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Barbara.png">
        </ion-avatar>
        <ion-label>
          Barbara
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Tartaglia.png">
        </ion-avatar>
        <ion-label>
          Tartaglia
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Diona.png">
        </ion-avatar>
        <ion-label>
          Diona
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Sucrose.png">
        </ion-avatar>
        <ion-label>
          Sucrose
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Keqing.png">
        </ion-avatar>
        <ion-label>
          Keqing
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Ninguang.png">
        </ion-avatar>
        <ion-label>
          Ninguang
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xiao.png">
        </ion-avatar>
        <ion-label>
          Xiao
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Qiqi.png">
        </ion-avatar>
        <ion-label>
          Qiqi
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Kokomi.png">
        </ion-avatar>
        <ion-label>
          Kokomi
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Yoimiya.png">
        </ion-avatar>
        <ion-label>
          Yoimiya
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Thoma.png">
        </ion-avatar>
        <ion-label>
          Thoma
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Benett.png">
        </ion-avatar>
        <ion-label>
          Benett
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Diluc.png">
        </ion-avatar>
        <ion-label>
          Diluc
        </ion-label>
      </ion-item>



      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Eula.png">
        </ion-avatar>
        <ion-label>
          Eula
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Jean.png">
        </ion-avatar>
        <ion-label>
          Jean
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Mona.png">
        </ion-avatar>
        <ion-label>
          Mona
        </ion-label>
      </ion-item>



      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Noelle.png">
        </ion-avatar>
        <ion-label>
          Noelle
        </ion-label>
      </ion-item>



      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Kazuha.png">
        </ion-avatar>
        <ion-label>
          Kazuha
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Ganyu.png">
        </ion-avatar>
        <ion-label>
          Ganyu
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Hutao.png">
        </ion-avatar>
        <ion-label>
          Hu Tao
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Ayaka.png">
        </ion-avatar>
        <ion-label>
          Ayaka
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Sara.png">
        </ion-avatar>
        <ion-label>
          Kujou Sara
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Chongyun.png">
        </ion-avatar>
        <ion-label>
          Chongyun
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xianling.png">
        </ion-avatar>
        <ion-label>
          Xianling
        </ion-label>
      </ion-item>
      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Razor.png">
        </ion-avatar>
        <ion-label>
          Razor
        </ion-label>
      </ion-item>






      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Zhongli.png">
        </ion-avatar>
        <ion-label>
          Zhongli
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Beidou.png">
        </ion-avatar>
        <ion-label>
          Beidou
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xingqiu.png">
        </ion-avatar>
        <ion-label>
          Xingqiu
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Xinyan.png">
        </ion-avatar>
        <ion-label>
          Xinyan
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Yanfei.png">
        </ion-avatar>
        <ion-label>
          Yanfei
        </ion-label>
      </ion-item>


      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/RaidenShogun.png">
        </ion-avatar>
        <ion-label>
          Raiden Shogun
        </ion-label>
      </ion-item>

      <ion-item button (click)="onCharacterClick()">
        <ion-avatar slot="start">
          <img src="assets/characteravatars/Sayu.png">
        </ion-avatar>
        <ion-label>
          Sayu
        </ion-label>
      </ion-item>



    </div>
  </ion-list>
</ion-content>