<ion-content>


   <app-topimage></app-topimage>
    <div class="loginsignup">
        <p>Please Login <br>to Continue</p>
        <ion-item>
            <ion-label position="floating" required=true>Username:</ion-label>
            <ion-input type="text" placeholder="Enter Your Username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" required=true>Password:</ion-label>
            <ion-input type="password" placeholder="Enter Your Password"></ion-input>

        </ion-item>
        <br>
        <ion-button color="medium" shape="round" size="small" (click)="onlogin()">Login</ion-button>

    </div>
    <div class="register">Don't have an Account? <br><br>
        <a (click)="sendtoregister()" id="signupref">Sign up here</a>

    </div>
   <app-tips-section></app-tips-section>
  
</ion-content>