



<ion-toolbar>
  <ion-buttons>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>{{days}}</ion-title>
</ion-toolbar>

<ion-content>
  <app-topimage></app-topimage>

  <div class="slidesdiv">
    <ion-slides>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <img src="assets/imgs/Domain_Forsaken_Rift.png">

            <ion-card-subtitle>Domain of Masterty</ion-card-subtitle>
            <ion-card-title>Forsaken Rift</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="chipclass" *ngIf="days=='Monday'||days=='Thursday'">

              <ion-chip *ngFor="let character of mondaythursdayrift;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>


            </div>
            <div class="chipclass" *ngIf="days=='Tuesday'||days=='Friday'">

              <ion-chip *ngFor="let character of tuesdayfridayrift;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>


            </div>

            <div class="chipclass" *ngIf="days=='Wednesday'||days=='Saturday'">

              <ion-chip *ngFor="let character of wednesdaysaturdayrift;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>

            <div class="chipclass" *ngIf="days=='Sunday'">

              <ion-chip *ngFor="let character of allrift;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>
            <div class="resin">
              <p>Each domain run costs 20</p>
              <img src="assets/imgs/fragileresin.png" id="resinimage">
            </div>
          </ion-card-content>
          <div class="books" *ngIf="days=='Monday'||days=='Thursday'">
            <img src="assets/books/Freedom.png">
          </div>
          <div class="books" *ngIf="days=='Tuesday'||days=='Friday'">
            <img src="assets/books/Resistance.png">
          </div>
          <div class="books" *ngIf="days=='Wednesday'||days=='Saturday'">
            <img src="assets/books/Ballad.png">
          </div>
          <div class="books" *ngIf="days=='Sunday'">
            <img src="assets/books/Resistance.png">
            <img src="assets/books/Freedom.png">
            <img src="assets/books/Ballad.png">
          </div>
        </ion-card>

      </ion-slide>

      <ion-slide>
        <ion-card>

          <ion-card-header>
            <img src="assets/imgs/Domain_Taishan_Mansion.png">

            <ion-card-subtitle>Domain of Masterty</ion-card-subtitle>
            <ion-card-title>Taishan Mansion</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="chipclass" *ngIf="days=='Monday'||days=='Thursday'">

              <ion-chip *ngFor="let character of mondaythursdaymansion;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>


            </div>
            <div class="chipclass" *ngIf="days=='Tuesday'||days=='Friday'">

              <ion-chip *ngFor="let character of tuesdayfridaymansion;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>

            <div class="chipclass" *ngIf="days=='Wednesday'||days=='Saturday'">

              <ion-chip *ngFor="let character of wednesdaysaturdaymansion;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>

            <div class="chipclass" *ngIf="days=='Sunday'">

              <ion-chip *ngFor="let character of allmansion;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>
            <div class="resin">
              <p>Each domain run costs 20</p>
              <img src="assets/imgs/fragileresin.png" id="resinimage">
            </div>
            <div class="books" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/books/Prosperity.png">
            </div>
            <div class="books" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/books/Diligence.png">
            </div>
            <div class="books" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/books/Gold.png">
            </div>
            <div class="books" *ngIf="days=='Sunday'">
              <img src="assets/books/Prosperity.png">
              <img src="assets/books/Diligence.png">
              <img src="assets/books/Gold.png">
            </div>
          </ion-card-content>

        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>

          <ion-card-header>
            <img src="assets/imgs/Domain_Violet_Court.png">

            <ion-card-subtitle>Domain of Masterty</ion-card-subtitle>
            <ion-card-title>Violet Court</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="chipclass" *ngIf="days=='Monday'||days=='Thursday'">

              <ion-chip *ngFor="let character of mondaythursdayviolet;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>


            </div>
            <div class="chipclass" *ngIf="days=='Tuesday'||days=='Friday'">

              <ion-chip *ngFor="let character of tuesdayfridayviolet;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>

            <div class="chipclass" *ngIf="days=='Wednesday'||days=='Saturday'">

              <ion-chip *ngFor="let character of wednesdaysaturdayviolet;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>

            <div class="chipclass" *ngIf="days=='Sunday'">

              <ion-chip *ngFor="let character of allviolet;">
                <ion-avatar>
                  <img src="assets/characteravatars/{{character.name}}.png">
                </ion-avatar>
                <ion-label>{{character.name}}</ion-label>
              </ion-chip>
            </div>
            <div class="resin">
              <p>Each domain run costs 20</p>
              <img src="assets/imgs/fragileresin.png" id="resinimage">
            </div>
            <div class="books" *ngIf="days=='Monday'||days=='Thursday'">
              <img src="assets/books/Transience.png">
            </div>
            <div class="books" *ngIf="days=='Tuesday'||days=='Friday'">
              <img src="assets/books/Elegance.png">
            </div>
            <div class="books" *ngIf="days=='Wednesday'||days=='Saturday'">
              <img src="assets/books/Light.png">
            </div>
            <div class="books" *ngIf="days=='Sunday'">
              <img src="assets/books/Transience.png">
              <img src="assets/books/Elegance.png">
              <img src="assets/books/Light.png">
            </div>
          </ion-card-content>

        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>