.tipdiv {
  background-color: grey;
  height: 15%;
  position: absolute;

  left: 15%;
  right: 0;
  top: 82%;
  text-align: center;

  border-radius: 10px 10px 10px 10px;
  width: 70%;
  padding-left: 1%;
  padding-right: 1%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
