<ion-content>


  <div class="starryimage">
    <!-- <ion-img id="starfall" src="assets/imgs/starfall.jpg"></ion-img> -->
  </div>
  <div class="loginsignup">
    <p>Please Register<br><br>
      <ion-item>
        <ion-label position="floating" required=true>Username:</ion-label>
        <ion-input type="text" placeholder="Enter Your Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" required=true>Email:</ion-label>
        <ion-input type="email" placeholder="Enter Your Email"></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="floating" required=true>Password:</ion-label>
        <ion-input type="password" placeholder="Enter Your Password"></ion-input>

      </ion-item>
      <br>
      <ion-button color="medium" shape="round" size="small" (click)="regsiter()">Register</ion-button>

  </div>
  <div class="register">Already have an Account? <br><br>
    <a (click)="sendtologin()" id="signupref">Login here</a>

  </div>
  <div class="tips">Tips</div>
</ion-content>