div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

// .starryimage {
//   width: 100%;
//   height: 20%;
//   background: url("/assets/imgs/starfall.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.loginsignup {
  height: 50%;
  width: 100%;
}
.register {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
}

#signupref:hover {
  text-decoration: underline;
}

.tips {
  background-color: grey;
  width: 100%;
  height: 10%;
  position: absolute;

  left: 0;
  right: 0;
  top: 90%;
}
