<!-- <ion-header [translucent]="true"> -->


<ion-content [fullscreen]="true">

  <div class="mainpage">

    <div class="splashimageclass">
      <!-- <img src="assets/imgs/splashimage.png" id="splashimage"> -->
    </div>

    <div class="splashlogo">
      <!-- <img src="assets/imgs/genshinlogo.png" id="splashlogo"> -->
    </div>
    <div class="splashelements">
      <!-- <img src="assets/imgs/elementscolored.png" id="splashelements"> -->
    </div>
    <div class="splashtext">
      <ion-text>
        <p>A Material Farm Helper
          <br>
          Tailored For You
        </p>
      </ion-text>
    </div>
    <div class="spinnerclass">
      <ion-spinner name="crescent" id="splashspinner"></ion-spinner>
    </div>
  </div>



</ion-content>